.popup__closed {
  background-image: url(../../../images/popup/Close\ Icon.png);
  border: none;
  width: 40px;
  height: 40px;
  background-color: unset;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  right: -40px;
}

.popup__closed:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .popup__closed {
    width: 26px;
    height: 26px;
    top: -45px;
    right: 6px;
  }
}